
<div class="pos-f-t">
    <div class="collapse,navbar navbar-dark bg-dark" id="navbarToggleExternalContent" >
      <div class="bg-dark p-4">
        <h4 class="text-white">content us</h4>
        <span class="text-muted">mail:pranitapol@gmail.</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div>
          <nav class="navbar navbar-expand-lg navbar-light bg-dark">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#"></a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li>
                    <a class="nav-link" href="/login">Login</a>
                  </li>
                  <li>
                    <a class="nav-link" href="/product">Books</a>
                  </li>
                  <!--<li class="nav-item">
                    <a class="nav-link" href="/bookorder"></a>
                  </li>-->
                  <li class="nav-item">
                    <a class="nav-link" href="/cart"><i class='fas fa-cart-plus' style='font-size:30px'></i></a>
                  </li>
                  <li>
                    <div class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        More
                      </a>
  
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/help"> Customer Care</a>
                        <a class="dropdown-item" href="/order">Order</a>
                        <!--<a class="dropdown-item" href="/download">Download App</a>-->
                      </div>
                    </div>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </div>
            </nav>
      </div>
    </nav>
  </div>